[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = WarDudeFoxes
	email = 153716884+WarDudeFoxes@users.noreply.github.com
